/* r.a.d.window default skin */

.RadWContentFrame
{
	scrollbar-face-color: #BACBF4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #7E9FD2;
	scrollbar-3dlight-color: #E6EEFC;
	scrollbar-arrow-color: #4D6185;
	scrollbar-track-color: #F7F7F3;
	scrollbar-darkshadow-color: #C6D1DC;		
}
.RadWStatus
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10px;
	font-weight: normal;
	height: 21px;
	background-image: url(CssImg/RadWStatus.gif);
	background-repeat: repeat-x;
	cursor: default;
	color: #fff;
	border-left: solid 2px #6194eb;
	border-right: solid 2px #6194eb;
	border-bottom: solid 1px #6194eb;
	color: #6194eb;
}
.RadWModalImage
{
	display: block;
	border: 3px solid #ccff00;		
}
.RadWDragHelper
{		
	border : 3px solid #cccccc;	
	border: dashed 1px gray;
	background-color : #cccccc;	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: 0.5; /* Mozilla */
	margin: 0px;
	padding: 0px;	
	position: absolute;
	z-index: 50000;
	overflow: hidden;	
}

.RadWMinimizedPageLoaded
{
	border: 1px solid #e34a4e;
	background: url(CssImg/RadWWrapperHeaderCenter.gif);
	background-repeat: repeat-x;
	width: 60px;
	height: 25px;
}

.RadWMinimizedActive, .RadWMinimizedOver
{
	border: solid 1px #f3ba0f;
	background: url(CssImg/RadWWrapperHeaderCenter.gif);
	background-repeat: repeat-x;
	background-color: transparent;
	width: 60px;
	height: 25px;
}
.RadWMinimizedInactive
{
	border: solid 1px #f3ba0f;
	background-color: #f3ba0f;
	background: url(CssImg/RadWWrapperHeaderCenter.gif);
	background-repeat: repeat-x;
	width: 60px;
	height: 25px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=63);
	-moz-opacity: 0.6;
}
.RadWLoadingWrapper
{
	border: solid 1px #f3ba0f;
	vertical-align: middle;
	width: 80px;
	height: 100%;
	text-align: center;	
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.RadWIcon
{
	margin-left: 2px;	
	margin-right: 2px;
	cursor: default;
	margin-top: 3px;
	vertical-align: middle;
}
.RadWTitleText
{
	font-family: Verdana, Arial, Tahoma, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	vertical-align: middle;		
}
.RadWButton
{
	cursor: default;
	margin-top: 3px;
	margin-right: 2px;
	vertical-align: top;
}
.RadWWrapperActive
{
	background-color: #fff;
	font-size: 0px;	
	/*filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); */
	border-left: solid 2px #4071c5;
	border-top: solid 2px #4071c5;
	border-right: solid 2px #4071c5 !important;
	border-bottom: solid 2px #4071c5 !important;
}
.RadWWrapperInactive
{
	/*border: solid 1px #4071c5;*/
	background-color: #CFE2FB;
	font-size: 0px;	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE */
	-moz-opacity: 0.9; /* Moz */
	opacity: 0.9; /* CSS3 */
}
.RadWWrapperModal
{	
	border-right: solid 1px #404040;
	border-bottom: solid 1px #404040;
	border-left: solid 1px #d4d0c8;
	border-top: solid 1px #d4d0c8;
	background-color: #fff;
	font-size: 0px;
	/* filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); */
}
.RadWTitleRow
{
	cursor: default;		
}
.RadWWrapperHeaderLeft
{
	width: 2px;
	background-color: #6194eb;
	height: 27px;
}
.RadWWrapperHeaderCenter
{
	text-align: left;
	height: 27px;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px; /* always set a value */
	color: #fff;
	background-color: #0a246a;
	background-image: url(CssImg/RadWWrapperHeaderCenter.gif);
	background-repeat: repeat-x;
}
.RadWWrapperHeaderRight
{
	width: 2px;
	background-color: #6194eb;
	height: 27px;
}
.RadWWrapperBodyLeft
{
	width: 2px;
	background-color: #6194eb;
}
.RadWWrapperBodyCenter
{
	width: 100%;
	height: 100%;
}
.RadWWrapperBodyRight
{
	width: 2px;
	background-color: #6194eb;
}
.RadWWrapperFooterLeft 
{
	font-size: 1px;
	background-repeat: no-repeat;
	background-color: #4071c5;
} 

.RadWWrapperFooterCenter 
{
	font-size: 1px;
	background-repeat: repeat-x;
	background-color: #4071c5;
} 
.RadWWrapperFooterRight 
{
	font-size: 1px;
	background-repeat: no-repeat;
	background-color: #4071c5;
} 