/* Green Toolbar Skin Stylesheet */
body
{
	background-color: #fff;
}
/* normal button */
.green_radbutton_normal 
{
	background-image: url(Img/btnNormalBg.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}

.green_radbutton_hover
{
	background-image: url(Img/btnHoverBg.gif);
	background-repeat: no-repeat;
	background-color: transparent;	
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}

.green_radbutton_disabled
{
	background-image: url(Img/btnNormalBg.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=1,opacity=40,finishOpacity=100,startX=100,finishX=100,startY=100,finishY=100);/* IE */
	-moz-opacity: .40;/* Mozilla */
	cursor: no-drop;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}
.green_radbutton_mousedown
{
	background-image: url(Img/btnMouseDown.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}
/* end normal button */

/* toggle button */
.green_radtbutton_normal 
{
	background-image: url(Img/btnNormalBg.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}

.green_radtbutton_hover
{
	background-image: url(Img/btnHoverBg.gif);
	background-repeat: no-repeat;
	background-color: transparent;	
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}

.green_radtbutton_toggled, .green_radtbutton_hover_toggled
{
	background-image: url(Img/btnMouseDown.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}

.green_radtbutton_disabled
{
	background-color: transparent;
	border: none;
	cursor: default;
	margin: 0px 4px;
}

.green_radtbutton_mousedown
{
	background-image: url(Img/btnNormalBg.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: default;
	height: 32px !important;
	width: 26px !important;
	margin: 0px 4px;
}
/* end toggle button */

/* horizontal toobar */
.green_radtoolbar_horizontal
{
	background-image: url(Img/toolbarBgH.gif);
	background-color: #fff;
	background-repeat: repeat-x;
	font-size: 10pt;
	font-family: Verdana;
	border-collapse: collapse;
	height: 61px;
	padding-top: 1px;
	padding-bottom: 1px;
}
/* end horizontal toobar */

/* vertical toobar */
.green_radtoolbar_vertical
{
	background-image: url(Img/toolbarBgV.gif);
	background-color: #fff;
	background-repeat: repeat-y;
	font-size: 10pt;
	width: 61px;
	font-family: Verdana;
	border-collapse: collapse;
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
}	
/* end vertical toobar */

/* horizonatal toolbar grips */
/* left */
.green_radtoolbar_left
{
	background-image: url(Img/toolbarLeft.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	width: 18px !important;
	height: 61px;
}
/* right */
.green_radtoolbar_right
{
	background-image: url(Img/toolbarRight.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	width: 18px !important;
	height: 61px;
}
/* end horizonatal toolbar grips */

/* vertical toolbar grips */
/* top */
.green_radtoolbar_top
{
	background-image: url(Img/toolbarLeftV.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	width: 61px;
	height: 18px !important;
}
/* bottom */
.green_radtoolbar_bot
{
	background-image: url(Img/toolbarRightV.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	width: 61px;
	height: 19px !important;
}
/* end vertical toolbar grips */
/* separators */
/* horizontal */
.green_radseparator_h
{
	background-color: transparent;
	background-image: url(Img/separator_h.gif);
	background-repeat: repeat-y;
	width: 2px;
	height: 40px;
	vertical-align: middle;
}
/* vertical */
.green_radseparator_v
{
	
	background-image: url(Img/separator_v.gif);
	background-repeat: repeat-x;
	height: 2px;
	font-size: 2px;
	width: 40px;
	margin-left: 2px;
	text-align: center;
}
/* end separators */

/* margins fix */
.green_radbutton_normal IMG, .green_radbutton_hover IMG, .green_radbutton_normal SPAN, .green_radbutton_hover SPAN
{
	margin-top: 5px;
}

.green_radtbutton_mousedown IMG, .green_radtbutton_mousedown SPAN, .green_radtbutton_toggled IMG, .green_radtbutton_hover_toggled IMG
{
	margin-top: 6px;
	margin-left: 3px;
}

.green_radtbutton_normal IMG, .green_radtbutton_hover IMG, .green_radtbutton_normal SPAN, .green_radtbutton_hover SPAN
{
	margin-top: 5px;
}
.green_radbutton_mousedown IMG, .green_radbutton_mousedown SPAN
{
	margin-top: 6px;
	margin-left: 3px;
}
.green_radbutton_disabled IMG
{
	margin-top: 5px;
}
/* buttons with text and images */
/* normal */
.green_radbutton_text_normal, .green_radtbutton_text_normal
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
	cursor: default;
	height: 32px !important;
	background-image: url(Img/btnTextNormalBg.gif);
	background-repeat: repeat-x;
	border-left: solid 1px #a69979;
	border-right: solid 1px #a69979;
	margin-left: 2px;
	margin-right: 2px;
}
.green_radbutton_text_hover, .green_radtbutton_text_hover
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
	cursor: default;
	border-left: solid 1px #ffffd7;
	border-right: solid 1px #ffffd7;
	height: 32px !important;
	background-image: url(Img/btnTextHoverBg.gif);
	background-repeat: repeat-x;
	margin-left: 2px;
	margin-right: 2px;
}
.green_radbutton_text_mousedown, .green_radtbutton_text_mousedown, .green_radtbutton_text_toggled, .green_radtbutton_text_hover_toggled
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	cursor: default;
	padding-left: 2px;
	padding-right: 2px;
	cursor: default;
	border-left: solid 1px #887b5b;
	border-right: solid 1px #887b5b;
	height: 32px !important;
	background-image: url(Img/btnTextMouseDown.gif);
	background-repeat: repeat-x;
	margin-left: 2px;
	margin-right: 2px;
}
/* button text */
.green_radbutton_text_normal SPAN, .green_radbutton_text_hover SPAN, .green_radbutton_text_mousedown SPAN, .green_radtbutton_text_normal SPAN, .green_radtbutton_text_hover SPAN, .green_radtbutton_text_mousedown SPAN, .green_radtbutton_text_toggled SPAN, .green_radtbutton_text_hover_toggled SPAN
{
	display: inline-block;
	margin-top: 6px;
	float: left;
}
.green_radbutton_text_normal IMG, .green_radbutton_text_hover IMG, .green_radbutton_text_mousedown IMG, .green_radtbutton_text_normal IMG, .green_radtbutton_text_hover IMG, .green_radtbutton_text_mousedown IMG, .green_radtbutton_text_toggled IMG, .green_radtbutton_text_hover_toggled IMG
{
	margin-top: 6px;
	float: left;
}