.calendarWrapper
{
	cursor: default;
	border: solid 1px #000;
	background-image: url(Img/tableLayoutBg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #e2bebe;
}
.radCalPreviewDefault
{
	cursor: default;
	border: solid 1px #000;
	background-image: url(Img/tableLayoutBg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #e2bebe;
	width : 300px;
	height : 310px;
}
.radCalDefault, .radCalWeekendDefault
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	background-color: transparent;
	cursor: default;
	text-align: center;
	height: 40px;
	width: 40px;
}
.radCalHover, .radCalWeekendHover
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	cursor: default;
	text-align: center;
	height: 40px;
	width: 40px;
	background-image: url(Img/hoverBg.gif);
	background-repeat: no-repeat;
	background-position: 4px 3px;
}
.radCalSelect, .radCalWeekendSelect
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	text-decoration: underline;
	font-weight: bold;
	cursor: default;
	text-align: center;
	height: 41px;
	width: 41px;
	background-image: url(Img/selectBg.gif);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: 4px 3px;
}
.DaysOfWeek
{
	font-weight: normal;
	color: #333333;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	height: 19px;
	cursor: default;
	background-image: url(Img/DaysOfWeek.gif);
	background-repeat: repeat-x;
	background-color: transparent;
	text-align: center;
}
.otherMonth
{
	color: #fff;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	text-align: center;
}
.titlebar
{
	color: #686868;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 286px;
	cursor: default;
	text-align: center;
}
.TableLayout
{
	
}
.TableLayout td
{
	height: 40px;
	width: 40px;
}
/*** MonthYearFastNav ***/
.MonthYearFastNav
{
	border: 1px solid #000;
	background-color: #ffffff;
	font: normal 10px Verdana;
	color: #000000;
	border-collapse: collapse;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#666666,strength=3);
}

.MonthYearFastNav TD
{
	text-align: center;
	vertical-align: middle;
	cursor: hand;
	padding: 4px;
}

.MonthYearFastNav TD.selected
{
	background-color: #e2bebe;
	color: #000;
}

.MonthYearFastNav TD.bottom
{
	text-align: center;
}

.MonthYearFastNav TD INPUT
{
	background-color: #e2bebe;
	border: solid 1px #000;
	font: normal 10px Verdana;
	color: #000000;
	float: left;
	margin-right: 1px;
}
/*** MonthYearFastNav ***/
/* cell links */
.radCalDefault A, .radCalHover A, .radCalSelect A, .radCalWeekendDefault A, .radCalWeekendHover A, .radCalWeekendSelect A
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	text-decoration: none;
	margin-left: 2px;
	margin-top: 3px;
}
/* cell links end */