/* r.a.d.upload Dark skin */
.RadUploadTable
{
	background-color: #303030;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 260px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: white;
}
.RadUploadTable TD
{
	padding: 4px 0px;
}
.RadUploadButtonArea
{
	background-color: Transparent;
}

.RadUploadButton, .radUploadButtonMedium
{
	background-image: url(Img/radUploadBtnMedium.gif);
	background-repeat: no-repeat;
	border: 0px;
	height: 21px;
	width: 114px;
	background-color: transparent;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #fff;
}

.RadUploadButtonDisabled
{
	background-image: url(Img/radUploadBtnMedium.gif);
	background-repeat: no-repeat;
	border: 0px;
	height: 21px;
	width: 114px;
	background-color: transparent;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #fff;
	filter:alpha(opacity=30);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.RadUploadFileSelector
{
	/* checkbox */
}

.RadUploadInputField
{
	width: 150px;
	border: solid 1px #cfcfcf;
	border-right: 0px;
	vertical-align: top;
	height: 17px;
}

input.RealFileInput
{
	position: relative;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.RadUploadSelectButton
{
	border: 0px;
	background-color: Transparent;
	background-image: url(Img/select.gif);
	background-repeat: no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #fff;
	height: 22px;
	width: 57px;
}

.RadUploadRemoveButton
{
	border: 0px;
	background-color: Transparent;
	background-image: url(Img/radUploadBtnSmall.gif);
	background-repeat: no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #fff;
	height: 22px;
	width: 66px;
	float: right;
}

.RadUploadClearButton
{
	border: 0px;
	background-color: Transparent;
	background-image: url(Img/radUploadBtnSmall.gif);
	background-repeat: no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #fff;
	height: 22px;
	width: 66px;
	float: right;
}

input.NoSkinnedFileUnput
{
	border: solid 1x #1f1f1f;
}
