.calendarWrapper
{
	background-image: url(Img/wrapperBg.gif);
	background-color: white;
	background-repeat: no-repeat;
	cursor: default;
	height: 120px;
	width: 150px;
	border-left: solid 1px #decfa1;
	border-top: solid 1px #decfa1;
	border-right: solid 1px #90772b;
	border-bottom: solid 1px #90772b;
}
.radCalDefault, .radCalWeekendDefault
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	font-weight: normal;
	background-color: transparent;
	cursor: default;
	text-align: center;
}
.radCalHover, .radCalWeekendHover
{
	background-color : #FEE686;
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	font-weight: normal;
	text-decoration: underline;
	cursor: default;
	text-align: center;
}
.radCalSelect, .radCalWeekendSelect
{
	background-color : #FFCC01;
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	text-decoration: underline;
	font-weight: bold;
	cursor: default;
	text-align: center;
}
.DaysOfWeek
{
	font-weight: normal;
	color: #333333;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	height: 19px;
	width: 150px;
	cursor: default;
	/*background-image: url(Img/DaysOfWeek.gif);
	background-repeat: no-repeat;*/
	background-color: transparent;
	text-align: center;
}
.otherMonth
{
	color: #f6bf4b;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	font-weight: normal;
	cursor: default;
	text-align: center;
}
.titlebar
{
	color: #9d8d06;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 9px;
	font-weight: normal;
	height: 22px;
	cursor: default;
	text-align: center;
	width: 150px;
	background-image: url(Img/titlebarBg.gif);
	background-repeat: repeat-x;
}
.TableLayout
{
	background-image: url(Img/tableLayoutBg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.radCalPreviewDefault
{
	background-image: url(Img/tableLayoutBg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	height : 150px;
	width : 150px;	
}
.TableLayout td, .radCalPreviewDefault td
{
	height: 20px;
	width: 20px;
}
/*** MonthYearFastNav ***/
.MonthYearFastNav
{
	border: 1px solid #decfa1;
	background-color: #ffffff;
	font: normal 10px Verdana;
	color: #000000;
	border-collapse: collapse;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#666666,strength=3);
}

.MonthYearFastNav TD
{
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #d6d6d6;
	cursor: hand;
	padding: 4px;
}

.MonthYearFastNav TD.selected
{
	border-color: orange;
	background-color: #e4900c;
	color: #ffffff;
}

.MonthYearFastNav TD.bottom
{
	text-align: center;
}

.MonthYearFastNav TD INPUT
{
	background-image: url(Img/MonthYearFastNavBtnBg.gif);
	background-repeat: repeat-x;
	border-top: solid 1px #e4900c;
	border-left: solid 1px #e4900c;
	border-right: solid 1px #e4900c;
	border-bottom: solid 1px #e4900c;
	font: normal 10px Verdana;
	color: #000000;
	float: left;
	margin-right: 1px;
}
/*** MonthYearFastNav ***/
/* cell links */
.radCalDefault A, .radCalWeekendDefault A
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
	text-decoration : none;
}
.radCalHover A, .radCalWeekendHover A
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration : none;
}
.radCalSelect A, .radCalWeekendSelect A
{
	color: #7f7f7f;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	cursor: default;
}
/* cell links end */