.default_radbutton_normal 
{
	background-color: whitesmoke;
	border: 1px solid skyblue;
	cursor: default;
}

.default_radbutton_hover
{
	background-color: lightyellow;	
	border: 1px solid skyblue;
	cursor: default;
}

.default_radbutton_disabled
{
	background-color: gray;	
	border: 1px solid black;
	cursor: default;
}

.default_radbutton_mousedown
{
	border: orange 1px solid;
	cursor: default;
	background-color: #ffcc33;
}

.default_radbutton_mousedown IMG, .default_radbutton_mousedown SPAN
{
	margin-top: 2px;
	margin-left: 3px;
}

.default_radtbutton_normal 
{
	background-color: lightpink;
	border: 1px solid gray;
	cursor: default;
}

.default_radbutton_normal IMG, .default_radbutton_hover IMG, .default_radbutton_normal SPAN, .default_radbutton_hover SPAN
{
	margin-top: 1px;
}

.default_radtbutton_mousedown IMG, .default_radtbutton_mousedown SPAN, .default_radtbutton_toggled SPAN, .default_radtbutton_hover_toggled SPAN
{
	margin-top: 2px;
	margin-left: 3px;
}

.default_radtbutton_normal IMG, .default_radtbutton_hover IMG, .default_radtbutton_normal SPAN, .default_radtbutton_hover SPAN
{
	margin-top: 1px;
}

.default_radtbutton_mousedown
{
		border: orange 1px solid;
	cursor: default;
	background-color: #ffcc33;
}


.default_radtbutton_hover
{
	background-color: lightyellow;	
	border: 1px solid skyblue;
	cursor: default;
}


.default_radtbutton_toggled, .default_radtbutton_hover_toggled
{
	border: 1px solid black;
	cursor: default;
	background-color: red;
}

.default_radtbutton_disabled
{
	background-color: gray;	
	border: 1px solid black;
	cursor: default;
}


.default_radtoolbar_horizontal
{
	background-color: lightgrey;
	font-size: 10pt;
	font-family: Verdana;

}


.default_radtoolbar_vertical
{
	background-color: lightgrey;
	font-size: 10pt;
	font-family: Verdana;
}		

.default_radseparator_v
{
	border-top: solid 1px black;
}

.default_radseparator_h
{
	border-left: solid 1px black;
}